  
   <section id="hero" class="d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1>TRẮC NGHIỆM ONLINE</h1>
          <h2>ĐA DẠNG - THÔNG MINH - CHÍNH XÁC</h2>
          <div class="d-flex">
            <a href="#!/register" class="btn-get-started scrollto">Đăng Ký Học</a>
            <a href="https://www.youtube.com/watch?v=pFHyZvVxce0" class="glightbox btn-watch-video"><i class="bi bi-play-circle"></i><span>Xem Video</span></a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img">
          <img src="./public/img/hero-img.png" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section>
  <main id="main" class="tw-mt-4">
    <!-- ======= Featured Services Section ======= -->
    <section id="featured-services" class="featured-services">
      <div class="container">

        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-laptop"></i></div>
              <h4 class="title"><a href="">Giáo Trình Miễn Phí</a></h4>
              <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-card-checklist"></i></div>
              <h4 class="title"><a href="">Thực Hàng 80%</a></h4>
              <p class="description">Triết lý giáo dục mới “Thực học - Thực nghiệp”</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-clipboard-data"></i></div>
              <h4 class="title"><a href="">Làm Chủ Được Công Nghệ</a></h4>
              <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Featured Services Section -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row">
          <div class="col-lg-6">
            <img src="../../public/img/about.png" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 content">
            <h3>Đăng Ký Học Ngay Hôm Nay Để Được Nhận Khuyến Mãi Lên Đến 30%</h3>
            <p class="fst-italic">
              Môi trường Học Tập Năng Động, Thoải Mái Phù Hợp Với Nhiều Đối Tượng Khác Nhau.
            </p>
            <ul>
              <li><i class="bi bi-check-circle"></i> Học - Học Nhanh - Học Hiệu Quả - Tiết Kiệm Tối Đa Chi Phí Học Tập</li>
              <li><i class="bi bi-check-circle"></i> Có Cơ Hội Nhận Được Học Bổng Lớn Đến Từ FPT</li>
              <li><i class="bi bi-check-circle"></i> Cơ Hội Việc Làm Lớn 90% Sinh Viên Có Việc Làm</li>
            </ul>
            <p>
              KiemTra.Net Chuyên Đào Tạo Chuyên Ngành Web Developer bằng cao đẵng chính quy.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container">

        <div class="section-title">
          <span>Khóa Học</span>
          <h2>Khóa Học</h2>
          <p>Một Vài Khóa Học Nổi Bậc</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="icon-box">
              <div class="icon"><i class="bx bxl-dribbble"></i></div>
              <h4><a href="">PHP</a></h4>
              <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4><a href="">Javascript</a></h4>
              <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <h4><a href="">HTML/CSS</a></h4>
              <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-world"></i></div>
              <h4><a href="">Reactjs</a></h4>
              <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-slideshow"></i></div>
              <h4><a href="">Laravel</a></h4>
              <p>Quis consequatur saepe eligendi voluptatem consequatur dolor consequuntur</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-arch"></i></div>
              <h4><a href="">Nodejs</a></h4>
              <p>Modi nostrum vel laborum. Porro fugit error sit minus sapiente sit aspernatur</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->
    
    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
      <div class="container">

        <div class="text-center">
          <h3>Đăng Ký Học Ngay Bây Giờ</h3>
          <p> Hãy Trái Nghiệm Ngay Những Khóa Học Chất Lượng Của Chúng Tôi.</p>
          <a class="cta-btn" href="#">Đăng Ký Ngay</a>
        </div>

      </div>
    </section><!-- End Cta Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
      <div class="container">

        <div class="section-title">
          <span>Giảng Viên</span>
          <h2>Giảng Viên</h2>
          <p>Đội Ngũ giảng viên Chất Lượng Trong Và Ngoài Nước</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="../../public/img/team/team-1.jpg" alt="">
              <h4>Nguyễn Tuấn Kiệt</h4>
              <span>Giáo Viên</span>
              <p>
                
              </p>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="../../public/img/team/team-1.jpg" alt="">
              <h4>Võ Ngọc Vũ</h4>
              <span>Giáo Viên</span>
              <p>
                
              </p>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="../../public/img/team/team-3.jpg" alt="">
              <h4>Thành Danh</h4>
              <span>Giảng Viên</span>
              <p>
               
              </p>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Team Section -->
  </main>