<main id="main" class="tw-mt-[-40px] mt-[100px]">
  <!-- ======= Breadcrumbs ======= -->
  <section class="breadcrumbs">
    <div class="container">

      <div class="d-flex justify-content-between align-items-center">
        <h2 class="tw-font-medium	 tw-text-[#16df7e]">Khóa học TRACNGHIEM.NET</h2>
        <ol>
          <li class="tw-text-[#16df7e]"><a href="./index.html">Trang Chủ</a></li>
          <li>Khóa học TRACNGHIEM.NET</li>
        </ol>
      </div>

      <div class="p-[40px] grid grid-cols-12 ">
         <div ng-repeat="data in dataQuizz | limitTo:8:page" 
               ng-mouseenter="showDetail(data.Id)" ng-mouseleave="hideDetail()" 
               class=" col-span-12 sm:col-span-12 md:col-span-6 lg:col-span-3 border-2 m-2 p-2 rounded-xl cursor-pointer transition hover:translate-y-[-10px] shadow-md bg-white relative"
            >
          <div class="text-center w-full h-[50px] font-bold mb-4">{{data.Name}}</div>
           <div class="w-full h-[200px]">
            <img class="w-full h-full object-contain" ng-src="../public/img/monhoc/{{data.Logo}}" alt="1213">
           </div>

           <div ng-show="data.showDetail" class="absolute inset-0 bg-gray-100 bg-opacity-70">
              <div class="w-full h-[60%]">

              </div>
              <div class="w-full h-[40%] flex justify-center items-center text-white">
                 <a href="#!/quizzDetail/{{data.Id}}" class="btn btn-success hover:text-blue-100">Làm ngay</a>
              </div>
           </div>
         </div>
      </div>
      
      <div class="flex justify-center">
          <div ng-click="gotoPage($index)" ng-repeat="page in pageArr" ng-class="{ 'bg-green-400 text-white': activePage === $index }" class="w-[40px] h-[40px] border-2 text-black font-bold hover:bg-green-400 cursor-pointer rounded-lg mx-2 flex items-center justify-center">{{page}}</div>
      </div>
    </div>
  </section><!-- End Breadcrumbs -->
</main>

  